<!DOCTYPE html>
<html>
  <head>
    <title>SVUViz - {{activeTitleName}}</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> -->
    <script src="/analytics.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="palette.js"></script>
    <script src="templates.js"></script>
    <script>
      BaseTitleID = '{{activeBaseTitleId}}';
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="svuviz.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="baseTitleDD" data-toggle="dropdown">
                <span class="baseTitle">{{activeDisplayName}}</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
              {{#each baseTitles}}
              {{#if this.active}}
                <li class="active"><a href="#">{{this.DisplayName}}</a></li>
              {{else}}
                <li><a href="?BaseTitleID={{this.BaseTitleID}}">{{this.DisplayName}}</a></li>
              {{/if}}
              {{/each}}
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="titleSearch" data-titleid data-title placeholder="Filter actors by title...">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="helpLink" href="#"><i class="fa fa-question-circle"></i> Help</a></li>
            <li><a href="https://github.com/sedenardi/svuviz" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main"></div>
    <div id="top">
      <div class="row-centered">
        <div class="col-xs-3 col-centered">
          <div id="actor1" class="actor" data-actorid="" data-actorname="" data-target="#searchInput1">
            <span class="actorControl actorClose form-control left" title="Clear Actor" data-target="#searchInput1">&#x2715;</span>
            <div class="search">
              <input type="text" class="form-control" id="searchInput1" placeholder="Search actor or character...">
            </div>
            <span class="actorControl actorInfo form-control right" title="Actor Information"><i class="fa fa-info-circle"></i></span>
          </div>
        </div>
        <div id="commonContainer" class="col-centered">
          <span id="commonControl" tooltip="Show Common Titles">
            <i class="fa fa-link"></i>
          </span>
        </div>
        <div class="col-xs-3 col-centered">
          <div id="actor2" class="actor" data-actorid="" data-actorname="" data-target="#searchInput2">
            <span class="actorControl actorInfo form-control left" title="Actor Information"><i class="fa fa-info-circle"></i></span>
            <div class="search">
              <input type="text" class="form-control" id="searchInput2" placeholder="Search actor or character...">
            </div>
            <span class="actorControl actorClose form-control right" title="Clear Actor" data-target="#searchInput2">&#x2715;</span>
          </div>
        </div>
      </div>
    </div>

    <div id="appearanceTooltip" class="hoverTooltip hidden">
      <p><strong>Actor: <span id="name"></span></strong></p>
      <p>Character: <span id="character"></span></p>
      <p>Episodes: <span id="appearances"></span></p>
      <p>Commonalities: <span id="commonalities"></span></p>
    </div>

    <div id="episodeTooltip" class="hoverTooltip hidden">
      <p class="tooltipTitle">S<span id="season"></span>E<span id="number"></span> <span id="title"></span></p>
      <p id="airdate"></p>
      <p><span id="synopsis"></span>...</p>
    </div>

    <div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Titles shared by <span id="commonModalActor1"></span> and <span id="commonModalActor2"></span></h4>
          </div>
          <div id="commonModalBody" class="modal-body">
          </div>
          <!-- <div class="modal-footer">
          </div> -->
        </div>
      </div>
    </div>

    <div class="modal fade" id="actorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Titles for <span id="modalActor"></span></h4>
          </div>
          <div id="actorModalBody" class="modal-body">
          </div>
          <!-- <div class="modal-footer">
          </div> -->
        </div>
      </div>
    </div>

    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div id="progressModal" class="modal-content">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="introModal" tabidex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4>How to use SVUViz</h4>
          </div>
          <div class="modal-body">
            <div id="introCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#introCarousel" data-slide-to="1"></li>
              <li data-target="#introCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="tutorialFrame">
                  <img src="tutorial1.png">
                </div>
              </div>
              <div class="item">
                <div class="tutorialFrame">
                  <img src="tutorial2.png">
                </div>
              </div>
              <div class="item">
                <div class="tutorialFrame">
                  <div id="creditsFrame">
                    SVUViz is a TV show and actor relationship visualizer. Data is source from IMDb.
                    <br><br>
                    Created by <a href="http://sandersdenardi.com" target="_blank">Sanders DeNardi</a> / <a href="http://twitter.com/srednass" target="_blank">@srednass</a>
                    <br><br>
                    Source code can be found on <a href="https://github.com/sedenardi/svuviz" target="_blank">GitHub</a>.
                    <br><br>
                    Contact me for questions, comments, bugs, or suggestions.
                  </div>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#introCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#introCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          </div>
          <div class="modal-footer">
            <label>
              <input id="introModalHide" type="checkbox"> Don't Show This Again
            </label>
          </div>
        </div>
      </div>
    </div>

    <script src="svuviz.js"></script>
  </body>
</html>
